body {
  height: 100vh;
  background-color: #6f4e37;
  background-image: radial-gradient(ellipse at top, #e66465, transparent),
    radial-gradient(ellipse at bottom, #6f4e37, transparent);
  background-repeat: no-repeat;
}
